<div class="col-sm-6 col-sm-offset-3">
  <%= form_for(deporte) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
