<% provide(:title, 'Listado de usuarios') %>
<h1>Listado de usuarios</h1>


<div class="row">
  <span class="col-sm-4">
    <%= will_paginate %>
  </span>
  <span class="col-sm-4">
    <%= link_to "Registrar Usuario", new_user_path, class: "btn btn-default" %>
  </span>
</div>
<ul class="users">
  <%= render @users %>
</ul>
<p>
  <%= link_to "CSV", users_path(format: "csv") %> |
  <%= link_to "Excel", users_path(format: "xls") %>
</p>
<%= will_paginate %>
