<% provide(:title, 'Listado de usuarios') %>
<h1>Listado de usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>
<p>
  <%= link_to "CSV", users_path(format: "csv") %> |
  <%= link_to "Excel", users_path(format: "xls") %>
</p>
<%= will_paginate %>
