<% provide(:title, 'Solicitar Acceso') %>
<h1>Solicitud de acceso al sistema</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@user, url: acceso_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone, "Teléfono" %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Solicitar Cuenta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
