<h3>Registro de asistencias</h3>
<h4>Equipo: <%= @equipo.name %></h4>
<%= form_for @evento do |f| %>
  <table>
    <thead>
      <th colspan="4">
        <%= @evento.tipoEvento %> <%= @evento.fecha %> <%= @evento.comment %>
      </th>
      <tr>
        <th>Alumno</th>
        <th>Asistencia</th>
        <th>Comentarios</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :asistencias do |asis| %>
          <tr>
            <% jugador = @jugadores.find_by(id:asis.object.player_id) %>

            <td><%= jugador.apellidoPaterno %></td>
            <td>
              <% @tiposAsistencia.each do |tipe| %>
                <%= asis.label :tipo, tipe %>
                <%= asis.radio_button( :tipo, tipe ) %>
              <% end %>
            </td>
            <td><%= asis.text_field :comment %></td>
            <% asis.hidden_field :player_id, value: asis.object.player_id %>

          </tr>
      <% end %>
      <% f.hidden_field :tipoEvento, value: @evento.tipoEvento %>
      <tr><td colspan="3"><%= f.submit 'Registrar', class: "btn btn-default", style: "width: 20em;"  %></td></tr>
    </tbody>
  </table>

<% end %>
