<% provide(:title, "Reporte Asistencias") %>
<div class="col-sm-6 col-sm-offset-3">
  <p id="notice"><%= notice %></p>

  <h1>Reporte de Asistencias</h1>

  <%= form_tag(reporte_asist_path) do %>
    <%= label_tag(:entrenador, "Entrenador:") %>
    <%= select_tag :entrenador, options_from_collection_for_select(@entrenadores, "id", "name"), prompt: "Seleccione el entrenador", class: 'form-control' %>
    <%= label_tag(:inicio, "Fecha inicial de reporte:") %>
    <%= date_field_tag :inicio, class: 'form-control' %>
    <%= label_tag(:final, "Fecha final de reporte:") %>
    <%= date_field_tag :final, class: 'form-control' %>
    <%= submit_tag "Crear Reporte", class: "btn btn-default" %>
  <% end %>

</div>
