<% provide(:title, 'Listado de equipos') %>

<div class="row">
  <h1>Listado de equipos</h1>

  <%= link_to 'Crear equipo', new_equipo_path, class: "btn btn-default" %>

  <%= will_paginate %>

  <table>
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Categoría</th>
        <th>Deporte</th>
        <th>Rama</th>
        <th>Entrenador</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render @equipos %>
    </tbody>
  </table>
  <p>
    Exportar
    <%= link_to "CSV", equipos_path(format: "csv") %> |
    <%= link_to "Excel", equipos_path(format: "xls") %>
  </p>
  <%= will_paginate %>

  <span class="navbar-left">
    <h4>Importar equipos (CSV)</h4>

    <%= form_tag import_equipos_path, multipart: true, class: "navbar-form navbar-left search-form" do %>
      <%= file_field_tag :file, class: "form-control" %>
      <%= submit_tag "Importar equipos", class: "btn btn-default" %>
    <% end %>
  </span>
</div>
