<div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@player) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field-tm">
      <%= f.label :apellidoPaterno, "Apellido Paterno" %>
      <%= f.text_field :apellidoPaterno, class: 'form-control' %>
    </div>
    <div class="field-tm">
      <%= f.label :apellidoMaterno, "Apellido Materno" %>
      <%= f.text_field :apellidoMaterno, class: 'form-control' %>
    </div>
    <div class="field-tm">
      <%= f.label :nombres %>
      <%= f.text_field :nombres, class: 'form-control' %>
    </div>
    <div class="field-tm">
      <%= f.label :fechaNacimiento, "Fecha de nacimiento" %>
      <%= f.date_select :fechaNacimiento, start_year: 1996, use_two_digit_numbers: true,
                        prompt: { day: 'Día', month: 'Mes', year: 'Año' } %>
    </div>
    <div class="field-tm">
      <%= f.label :equipo %>
      <%= f.collection_select(:equipo_id, @equipos, :id, :name, :placeholder => "Equipo") %>
    </div>
    <div class="field-tm">
      <%= f.label :seccion, "Sección" %>
      <%= f.select :seccion, @secciones, :placeholder => "Sección" %>
    </div>
    <div class="field-tm">
      <%= f.label :grupo %>
      <%= f.text_field :grupo, class: 'form-control' %>
    </div>
    <div class="field-tm">
      <%= f.label :genero %>
      <%= f.select :genero, @generos, :placeholder => "Género" %>
    </div>
    <div class="field-tm">
      <%= f.label :beca, class: "checkbox inline" do %>
          <%= f.check_box :beca %>
          <span>Indique si el alumno tiene beca</span>
      <% end %>

    </div>

    <%= f.submit "Guardar", class: "btn btn-default" %>
  <% end %>
</div>
