<tr id="player-<%= player.id %>">
  <td class="player"><%= link_to player.nombres, player %></td>
  <td class="player-apeP"><%= player.apellidoPaterno %></td>
  <td class="player-apeM"><%= player.apellidoMaterno %></td>
  <td class="player-equipo"><%= player.equipo.name %></td>
  <td class="player-deporte"><%= player.equipo.deporte %></td>
  <td class="eq-entrenador"><%= player.equipo.user.name %></td>
  <td><%= link_to '', edit_player_path(player), class: "glyphicon glyphicon-edit" %></td>
  <td><%= link_to '', player, class: "glyphicon glyphicon-trash", method: :delete,
      data: { confirm: '¿Está seguro?' } %></td>
</tr>
