<tr id="player-<%= player.id %>">
  <td class="col-left"><%= link_to player.nombres, player %></td>
  <td class="col-left"><%= player.apellidoPaterno %></td>
  <td class="col-left"><%= player.apellidoMaterno %></td>
  <td class="col-left"><%= player.equipo.name %></td>
  <td class="col-left"><%= Deporte.find(player.equipo.deporte).nombre %></td>
  <td class="col-left"><%= player.equipo.user.name %></td>
  <% if current_user.admin? %>
    <td><%= link_to '', edit_player_path(player), class: "glyphicon glyphicon-edit" %></td>
    <td><%= link_to '', player, class: "glyphicon glyphicon-trash", method: :delete,
            data: { confirm: '¿Está seguro?' } %></td>
  <% end %>
</tr>
